
@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0);
        float: right;
        display: flex;
    }

    .menu a{
        border: none;
    }
    
    header label {
       display: none; 
    }
    .not {
        width: 45%;
    }
}